.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.511);
  margin: 0;
}
.logo{
  width: 350px;
  margin-bottom: 50px;
}
.searchPkmn{
width: 450px;
height: 50px;
font-size: 2rem;
}
.searchButton{
  width: 200px;
  height: 50px;
  font-size: 2rem;

}

.body {
  display: grid;
  /* Crée 4 colonnes de taille égale */
  grid-template-columns: repeat(4, 1fr); 
  /* Ajoute de l'espace entre les cartes */
  gap: 20px; 
  /* Marges autour de la grille */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  
}

.cardPkmn{
  width: 250px;
  padding: 50px;
  margin: 50px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 234, 205, 0.469);
  transition: all ease-in-out 0.2s;
  /* height: 450px; */
}
.cardPkmn:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 10px black;
}
.idPkmn{
  font-size: 2rem;
}

.nomPkmn{
  font-size: 2.5em;
  font-weight: bold;
}

.imagePkmn{
  width: 150px;
}
.type{
    font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 0px 15px;
  border-radius: 20px;
}
.Plante{
  background-color: green;
}
.Eau{
  background-color: blue;
}
.Feu{
  background-color: orange;
}
.Insecte{
  background-color: rgb(1, 50, 1);
}
.Vol{
  background-color: rgb(79, 79, 239);
}
.Normal{
  background-color: grey;
}
.Poison{
  background-color: purple;
}
.Electrik{
  background-color: yellow;
  color: orange;
}
.Sol{
  background-color: brown;
}
.Fée{
  background-color: pink;
}
.Combat{
  background-color: rgb(255, 77, 0);
}
.Psy{
  background-color: rgb(239, 54, 85);
}
.Roche{
  background-color: rgb(66, 93, 2);
}
.Spectre{
  background-color: rgb(59, 2, 59);
}
.Dragon{
  background-color: cadetblue;
}
.buttonPkmn{
width: 100%;
height: 50px;
font-size: 1.2em;
border-radius: 20px;
}