@font-face {
  font-family: 'PokemonVideoGame';
  src: url('./fonts/Pokemon Solid.ttf') format('truetype');
}


.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:red; */
  /* margin: 0; */

}
.logo{
  width: 350px;
  margin-bottom: 50px;
  transition: all ease-in-out 0.2s;
}
.logo:hover{
  transform: scale(1.2);
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367); */
}
.logoRec{

  width: 100%;
  height: 100%;
}
.search{
  background-color: #6363630f;
  border: #636363 1px solid;
  padding: 10px 50px;
  /* height: 50px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchPkmn{
width: 70%;
/* height: 40%; */
border-radius: 20px;
height: 40px;
font-size: 1.8rem;
margin-right: 5%;
font-family: 'PokemonVideoGame', sans-serif;
color: #ffcb05; /* Le jaune officiel */
-webkit-text-stroke: 2px #3b4cca;
letter-spacing: 4px;
padding: 10px;
border: 1px solid #636363;
}
.searchPkmn::placeholder{
  color: #ffcd0556;
  -webkit-text-stroke: 2px #3b4cca75;
  text-align: center;
}
.searchButton{
  /* width: 20%;*/
  height: 60px; 
  border: 1px solid #636363;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'PokemonVideoGame', sans-serif;
  font-size: 2.3rem;
  color: #ffcb05; /* Le jaune officiel */
  background-color: white;
  padding: 30px;
  -webkit-text-stroke: 2px #3b4cca; /* Le contour bleu officiel */
  letter-spacing: 4px;
  /* filter: drop-shadow(4px 4px 0px #3b4cca); */
  transition: all ease-in-out 0.2s;

}
.searchButton:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367);
}
.equipe-container{
  background-color: red;
  display: flex;
  flex-direction: row;
}
.body {
  display: grid;
  /* Crée 4 colonnes de taille égale */
  grid-template-columns: repeat(4, 1fr); 
  /* Ajoute de l'espace entre les cartes */
  gap: 20px; 
  /* Marges autour de la grille */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  
}

.cardPkmn{
  width: 250px;
  /* padding: 50px; */
  margin: 50px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(63, 234, 205, 0.469); */
  transition: all ease-in-out 0.2s;
  /* height: 450px; */
      background: linear-gradient(180deg, #ffffff 0%, #636363 100%);

}
.cardPkmn:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367);
}
.idPkmn{
  font-size: 1.2rem;
  /* background-color: red; */
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nomPkmn{
  /* background-color: blue; */
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
  margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.imagePkmn{
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.172);
    border-radius: 20px;
    background-color: white;

}
.type{
  width: 80%;
  text-align: center;
    font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 0px 15px;
  border-radius: 20px;
  margin: 10px;
}
.btnPkmn{
  display: flex;
  justify-content: center;
  align-items: center;
width: 80%;
height: 50px;
border-radius: 20px;
  margin: 10px;
border: none;
  p{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
      span{
        font-size: 1.5em;
      }

  }
.isFav{
  background-color: rgba(255, 255, 0, 0.42);
}

}
.Plante{
  background-color: green;
}
.Eau{
  background-color: blue;
}
.Feu{
  background-color: orange;

}
.Insecte{
  background-color: rgb(1, 50, 1);
}
.Vol{
  background-color: rgb(79, 79, 239);
}
.Normal{
  background-color: grey;
}
.Poison{
  background-color: purple;
}
.Electrik{
  background-color: yellow;
  color: orange;
}
.Sol{
  background-color: brown;
}
.Fée{
  background-color: pink;
}
.Combat{
  background-color: rgb(255, 77, 0);
}
.Psy{
  background-color: rgb(239, 54, 85);
}
.Roche{
  background-color: rgb(66, 93, 2);
}
.Spectre{
  background-color: rgb(59, 2, 59);
}
.Dragon{
  background-color: cadetblue;
}
