@font-face {
  font-family: 'PokemonVideoGame';
  src: url('./fonts/Pokemon Solid.ttf') format('truetype');
}

body {
  margin: 0;
  background: radial-gradient(circle at center, #486786 0%, #0a0a0a 100%);
  color: white;
  min-height: 100vh;
    font-family: 'Poppins', sans-serif; 

}

.App {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  /* overflow: hidden; */
}

/* --- Logo --- */
.logo {
  width: 400px;
  margin: 20px 0;
  
  transition: all ease-in-out 0.4s ;
}

.logo:hover {
  transform: scale(1.1) rotate(5deg);
  filter: drop-shadow(0 0 15px rgba(255, 203, 15, 2));
}

/* -------- RECHERCHE ------ */
.search {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 100%;
  /* position: sticky;
  top: 0; */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPkmn {
  width: 50%;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(59, 76, 202, 0.5);
  border-radius: 12px;
  color: #ffcb05;
  font-family: 'Inter', sans-serif; 
  font-size: 2em;
  padding: 12px 25px;
  outline: none;
  transition: all 0.3s;
}

.searchPkmn:focus {
  border-color: #ffcb05;
  box-shadow: 0 0 15px rgba(255, 203, 5, 0.2);
}
.deleteSearch{
  max-width: 15%;
  height: 40px; 
  border: 1px solid #636363;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-size: 2em;
  color: grey; 
  /* background-color: white; */
  padding: 10px;
  /* filter: drop-shadow(4px 4px 0px #3b4cca); */
  transition: all ease-in-out 0.2s;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.479);

}

.reinitEquipe{
    max-width: 35%;
  height: 40px; 
  /* border: 1px solid #636363; */
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
    z-index: 101;
  position: absolute;
  bottom: -100px;
  font-size: 2em;
  color: rgb(22, 22, 22); 
  /* background-color: white; */
  padding: 10px;
  background-color:transparent;
  backdrop-filter: blur(5px);

  /* filter: drop-shadow(4px 4px 0px #3b4cca); */
  transition: all ease-in-out 0.2s;
  /* margin-left:50px; */
}
.reinitEquipe:hover{
  transform: scale(1.02);
  background-color: rgba(128, 128, 128, 0.493);
  
}
.deleteSearch:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367);
}
/* -----------------------FAVORIS (Equipe) -------------------------------- */
  
.equipe{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;           
  z-index: 100;
  backdrop-filter: blur(5px);
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 60px;
  
}
.equipe-container{
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}
.equipe-container .cardPkmn{
  height: 100px;
  visibility: hidden;
  border: none;
  background-color: transparent;
  z-index: 10;
    overflow: visible;
      transition: all ease-in-out 0.2s;
      /* pointer-events: none; Désactive le clic */
    cursor: default;     
    text-decoration: none;
    color: inherit;


}
.equipe-container .cardPkmn:hover{
  transform: none;
}
.equipe-container .cardPkmn .supprFav{
  visibility: visible;
  height: 20px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.397);

}
.equipe-container .cardPkmn .supprFav:hover{
  transform: scale(1.2);
  background-color: grey;
}
.equipe-container .cardPkmn:hover{
box-shadow: none;
}
.equipe-vide{
  width: 180px;
  visibility: visible;
}
.emptyText{
  color: whitesmoke;
  text-shadow: 5px 5px 5px #222224;
  opacity: 0.3;
  
  position: fixed;
  font-size: 10em;
}
.equipe-container .cardPkmn .imageContainer .imagePkmn{
  transform: scale(2.2);
  visibility: visible;
  z-index: 2;
  margin-top: 70px;
}
.equipe-container .cardPkmn .icone, .equipe-container .cardPkmn .idPkmn,.equipe-container .cardPkmn .atk, .equipe-container .cardPkmn .def{
 visibility: hidden;
}

.pokeball_msg{
  position: absolute;
  z-index: 200;
}
#pkM1{
    top: -120px;
  left: 50px;
  width: 180px;
  transform: rotate(-40deg)
}
#pkM2{
    top: 80px;
  left: 60px;
  width: 340px;
  transform: rotate(40deg); 
}
#pkM3{
    top: -220px;
  right: 50px;
  width: 240px;
  transform: rotate(70deg); 
}
#pkM4{
    top: -150px;
  left:  50%;
  width: 200px;
  transform: translate(-50% -50%);
  transform: rotate(350deg); 
}
#pkM5{
    top: 120px;
  right: 350px;
  width: 250px;
  transform: rotate(-40deg); 
}
#pkM6{
    top: 50px;
  right: -90px;
  width: 150px;
  transform: rotate(50deg); 
}
#pkEquipe1{
  top: 350px;
  left: 530px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe2{
  top: 350px;
  left: 780px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe3{
  top: 350px;
  left: 1030px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe4{
  top: 350px;
  left: 1280px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe5{
  top: 350px;
  left: 1530px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe6{
  top: 350px;
  left: 1780px;
  width: 120px;
  height: 120px;
  z-index: 10;
}
#pkEquipe1::after, #pkEquipe2::after, #pkEquipe3::after, #pkEquipe4::after, #pkEquipe5::after, #pkEquipe6::after{
  height: calc(var(--size)*1.1);
  width: calc(var(--size)*1.1);
  border: calc(var(--size)*0.15) solid #222224;
  z-index: -1;
}


.empty {
  /* border: 2px dashed #ccc; */
  background-color: #f9f9f9;
  /* opacity: 0.6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 430px; À ajuster selon la taille de tes vraies cartes */
  /* color: transparent; */
}

.silhouette {
  font-size: 12em;
  color: transparent;
  font-weight: bold;
}




/* ---------------------------------cartes------------------------------------ */
/* .body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px;
  width: 100%;
  max-width: 1400px;
} */
.body {
  display: grid;
  /* On définit 6 colonnes égales */
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px; /* Réduit un peu l'écart pour gagner de la place */
  padding: 40px;
  max-width: 80%;
}
.cardPkmn {
    height: 240px;
  width: 125px;
  margin: 20px;
  padding: 30px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* On mélange ton dégradé avec une légère transparence */
  /* background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(99,99,99,0.8) 100%); */
  backdrop-filter: blur(5px);
  border: 4px solid rgba(255,255,255,0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
}
.supprFav{
  visibility: hidden;
}

.cardPkmn:hover {
  transform: translateY(-10px) scale(1.05);
  border-color: gray; 
  box-shadow: 0 0 35px #ffcd058a;
}
.imageContainer{
    position: relative;
    /* background-color: red; */
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 2;
  border: 3px solid white;
}
.imagePkmn {
  width: 150px;
  height: 150px;
  /* margin-top: 15px; */
  margin: 0;
  /* background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 15px;
  padding: 10px;
  /* background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, transparent 70%); */
  backdrop-filter: blur(2px);
  border-radius: 50%;
  /* border: 1px solid rgba(0,0,0,0.05); */
}

.pokeball_message {
  --size:30px;
position: absolute;
top: 20px;
right: 15px;
height: var(--size);
width: var(--size);
background: linear-gradient(180deg, #f00000 48%, #222224 49%, #222224 50%, #f0f0f0 51%);
  border-radius: 50%;
  border: solid #222224 calc(var(--size) * 0.1);
}

.pokeball_message::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  calc(var(--size)*0.2);  
  height:  calc(var(--size)*0.2);
  background: #f0f0f0 ;
  border:  calc(var(--size)*0.1) solid #222224; 
  border-radius: 50%;
  z-index: 2; 
}
.pokeball {
position: absolute;
z-index: 4;
top: -70px;
left: -20px;
height: 35px;
width: 35px;
background: linear-gradient(180deg, #f00000 48%, #222224 49%, #222224 50%, #f0f0f0 51%);
  border-radius: 50%;
  border: 2px solid #222224;
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;  
  height: 7px;
  background: #f0f0f0 ;
  border: 2.5px solid #222224; 
  border-radius: 50%;
  z-index: 2; 
}
.atk, .def{
  position: absolute;
  /* background-color: rgba(128, 128, 128, 0.452); */
  backdrop-filter: blur(10px);
  font-size: 1em;
  /* letter-spacing: 2px; */
  color: black;
    font-family: 'Poppins', sans-serif; 
    width: 100%;
    font-weight:200;
    padding-bottom: 20px;
    /* background-color: red; */
    height: 80px;

}
.atk span,.def span{
  font-weight: 400;
  /* z-index: -1; */
}
.atk{
  bottom: -140px;
  left: -90px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.def{
  left:75px;
  text-align: left;
  bottom: -140px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.idPkmn{
  font-family: 'Poppins', sans-serif; 
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin: 10px 0; */
  color: white;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.nomPkmn{
  font-family: 'Poppins', sans-serif; 
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
  color: white;
  z-index: 10;
}



.cardPkmn:hover {
  transform: scale(1.1);
}

.btnPkmn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
width: 140%;
height: 30px;
border-radius: 20px;
z-index: 2;
border: none;
  p{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
      /* span{
        font-size: 1.5em;
      } */
  }


  }
.btnPkmn:hover {
  background: grey;
  color: white;
}
.equipeMax{
  color: red;
}

.atk, .def{
  text-align: center;
}
.type{
  /* .equipe-container .cardPkmn .type  */
  font-size: 1em;
  /* padding: 5px 12px; */
  /* display: inline-block; */
  /* margin-top: 80px; */
  text-transform: uppercase;
  /* width: 142%; */
  width: 142%;
  text-align: center;
  z-index: 2;
  padding: 5px;
  font-weight: 600;
 
}

.Plante{
  background: linear-gradient(90deg, transparent 0%, green 50%, transparent 100%);
  color: rgb(1, 56, 1);
  border-top: 2px solid rgb(1,56,1);
  border-bottom: 2px solid rgb(1,56,1);
}
.cardPlante{
  background-image: url("./assets/fondPlante.png"); 
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Eau{
    background: linear-gradient(90deg, transparent 0%, blue 50%, transparent 100%);
    color: rgb(70, 70, 243);
    border-top: 2px solid rgb(3,3,104);
    border-bottom: 2px solid rgb(3,3,104);

}
.cardEau, .equipe-container .cardEau {
  background-image: url("./assets/fondEau.png"); 
    background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Feu{
     background: linear-gradient(90deg, rgba(255, 166, 0, 0.479) 0%, rgb(179, 96, 1) 50%, rgba(255, 166, 0, 0.520) 100%);
    color: orange;
    border-top: 2px solid rgb(179,96,1);
    border-bottom: 2px solid rgb(179,96,1);

}
 .cardFeu, .equipe-container .cardFeu{
  
  background-image: url("./assets/fondFeu.png"); 
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
}
.Insecte{
       background: linear-gradient(90deg, green 0%, rgb(1, 50, 1) 50%,green 100%);
    color: green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
.cardInsecte , .equipe-container .cardInsecte{
  
  background-image: url("./assets/fondInsecte.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}

.Normal{
         background: linear-gradient(90deg,grey 0%, rgb(63, 63, 63) 50%,grey 100%);
    color: grey;
    border-top: 2px solid  rgb(63, 63, 63);
    border-bottom: 2px solid  rgb(63, 63, 63);
}
.cardNormal , .equipe-container .cardNormal{
  
  background-image: url("./assets/fondNormal.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Poison{
         background: linear-gradient(90deg,purple 0%, rgb(58, 1, 58) 50%,purple 100%);
    color: violet;
    border-top: 2px solid  purple;
    border-bottom: 2px solid purple;
}
.cardPoison, .equipe-container .cardPoison {
  
  background-image: url("./assets/fondPoison.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Electrik{

         background: linear-gradient(90deg,yellow 0%, orange 50%,yellow 100%);
    color: rgb(255, 123, 0);
    border-top: 2px solid  orange;
    border-bottom: 2px solid orange;
}
.cardElectrik , .equipe-container .cardElectrik{
  
  background-image: url("./assets/fondFoudre.png"); 
   background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);  
 
}
.Sol{
    background: linear-gradient(90deg,brown 0%, rgb(116, 34, 34) 50%,brown 100%);
    color: rgb(218, 77, 77);
    border-top: 2px solid  brown;
    border-bottom: 2px solid brown;

}
.cardSol , .equipe-container .cardSol{
  
  background-image: url("./assets/fondSol.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Fée{
    background: linear-gradient(90deg,pink 0%, rgb(230, 91, 114) 50%,pink 100%);
    color: rgb(238, 180, 180);
    border-top: 2px solid  rgb(230, 91, 114);
    border-bottom: 2px solid rgb(230, 91, 114);
}
.cardFée , .equipe-container .cardFée{
  
  background-image: url("./assets/fondFee.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Combat{
    background: linear-gradient(90deg,orangered 0%, rgb(255, 153, 0) 50%,orangered 100%);
    color: orangered;
    border-top: 2px solid  rgb(230, 91, 114);
    border-bottom: 2px solid rgb(230, 91, 114);
}
.cardCombat , .equipe-container .cardCombat{
  
  background-image: url("./assets/fondCombat.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Psy{
    background: linear-gradient(90deg,rgb(235, 89, 114) 0%, pink 50%,rgb(235, 89, 114)  100%);
    color: rgb(235, 89, 114) ;
    border-top: 2px solid  pink;
    border-bottom: 2px solid pink;
}
.cardPsy , .equipe-container .cardPsy{
  
  background-image: url("./assets/fondPsy.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Roche{
      background: linear-gradient(90deg,rgb(167, 165, 165) 0%, gray 50%,rgb(167, 165, 165)  100%);
    color: rgb(204, 202, 202) ;
    border-top: 2px solid  rgb(167, 165, 165);
    border-bottom: 2px solid rgb(167, 165, 165);
}
.cardRoche , .equipe-container .cardRoche{
  
  background-image: url("./assets/fondRoche.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Spectre{
      background: linear-gradient(90deg, rgb(59, 2, 59) 0%, purple 50%, rgb(59, 2, 59)  100%);
    color: rgb(65, 0, 65);
    border-top: 2px solid   rgb(59, 2, 59);
    border-bottom: 2px solid  rgb(59, 2, 59);

}
.cardSpectre , .equipe-container .cardSpectre{
  
  background-image: url("./assets/fondSpectre.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Dragon{
    background: linear-gradient(90deg, cadetblue 0%, blue 50%, cadetblue  100%);
    color: cadetblue;
    border-top: 2px solid  cadetblue;
    border-bottom: 2px solid cadetblue;
}
.cardDragon , .equipe-container .cardDragon{
  
  background-image: url("./assets/fondDragon.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.Glace{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 174, 255);
    background: linear-gradient(90deg, white 0%, cadetblue 50%, white  100%);
    color: rgb(189, 236, 238);
    border-top: 2px solid  cadetblue;
    border-bottom: 2px solid cadetblue;
}
.cardGlace , .equipe-container .cardGlace{
  
  background-image: url("./assets/fondGlace.png"); 
    background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  
  
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2); 
 
}
.messageAreaShow{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 350px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 5px solid #222224;
  border-top: 5px solid #222224;
  z-index: 1000;
}
.messageAreaHidden{
  z-index: -100;
  width: 0;
  height: 0;
  visibility: hidden;
}
.messageShow {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: red; */
  height: 80%;
  width: 80%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PokemonVideoGame', sans-serif;
  color: #ffcb05;
  -webkit-text-stroke: 2px #3b4cca;
  font-size: 3.5em;
  letter-spacing: 4px;
}

.messageText{
  z-index: 1000;
      text-shadow: 0px -30px rgba(0, 0, 0, 0.212);
    /* background-color: white; */
    background: linear-gradient(90deg, transparent 0%, white 50%, transparent 100%);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

  
}
#pk1{
  position: absolute;
  top:170px;
  left: -150px;
  height: calc(var(--size)*5.5);
  width: calc(var(--size)*5.5);
  transform: translate(20px, 10px) scale(1.2) rotate(70deg);
    box-shadow: 0px -30px rgba(0, 0, 0, 0.212);

  z-index: 2;
}
#pk1::after{
  height: calc(var(--size)*1.1);
  width: calc(var(--size)*1.1);
  border: calc(var(--size)*0.15) solid #222224;
}
#pk2{
  position: absolute;
  top:100px;
  left: 80px;
  height: calc(var(--size)*4.2);
  width: calc(var(--size)*4.2);
  transform: translate(20px, 10px) scale(1.2) rotate(-20deg);
      box-shadow: 20px 0px rgba(0, 0, 0, 0.212);

  z-index: 1;
}
#pk2::after{
  height: calc(var(--size)*1.1);
  width: calc(var(--size)*1.1);
  border: calc(var(--size)*0.15) solid #222224;
}



#pk3{
  position: absolute;
  top:-50px;
  left: 380px;
  height: calc(var(--size)*3.5);
  width: calc(var(--size)*3.5);;
  transform: translate(20px, 10px) scale(1.2) rotate(30deg);
  z-index: 1;
      box-shadow: 20px -30px rgba(0, 0, 0, 0.212);

}
#pk3::after{
  height: calc(var(--size)*0.7);
  width: calc(var(--size)*0.7);
}

#pk4{
  position: absolute;
  top: 0;
  left: 50%;
  height: calc(var(--size)*3.8);
  width: calc(var(--size)*3.8);
  transform: translate(20px, 10px) scale(1.2) rotate(-70deg);
  z-index: 1;
  box-shadow: 20px -10px rgba(0, 0, 0, 0.212);

}
#pk4::after{
  height: calc(var(--size)*1.1);
  width: calc(var(--size)*1.1);
  border: calc(var(--size)*0.1) solid #222224;
}

#pk5{
  position: absolute;
  top: 280px;
  right: 0px;
  height: calc(var(--size)*3);
  width: calc(var(--size)*3);
  transform: translate(20px, 10px) scale(1.2) rotate(-40deg);
  z-index: 1;
  box-shadow: 0px -20px rgba(0, 0, 0, 0.212);

}
#pk5::after{
  height: calc(var(--size)*0.6);
  width: calc(var(--size)*0.6);
}

#pk6{
  position: absolute;
  top: 20px;
  right: 70px;
  height: calc(var(--size)*2.2);
  width: calc(var(--size)*2.2);
  transform: translate(20px, 10px) scale(1.2) rotate(43deg);
  z-index: 1;
    box-shadow: -20px 0px rgba(0, 0, 0, 0.212);

}
#pk6::after{
  height: calc(var(--size)*0.4);
  width: calc(var(--size)*0.4);
  border: calc(var(--size)*0.1) solid #222224;
}

