/* .containerDetail{
    color: grey;
    min-height: 100vh;
    min-width: 99vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerImage{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pokemon-image{
    width: 600px;
    height: 600px;
}
.tableStat{
    position:absolute;
    top: 10px;
    left: 50px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
}
.tableStat th, .tableType th{
    font-size: 1.2em;
}
.tableStat td, .tableType td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.tableType{
    position: absolute;
    top: 250px;
    left: 50px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: center;
} */

.containerDetail{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rebeccapurple;

}
.pokemon-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    width: 40%;
}
.nom{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* .typeDetail{
    position: absolute;
    top: 20px;
    left: 50px;
} */
.tableStat{
    position: absolute;
    top: 100px;
    left: 50px;
}
.tableType{
    position: absolute;
    top: 200px;
    left: 50px;
}
